.Rproj.user
.Rhistory
.RData
.Rprofile

.DS_Store

data/*/*
!data/process/*
!README.md

*.qsub*
mothur*logfile
*temp*
*.docx

submission/*/*
!submission/manuscript_LO.docx
!submission/cover_letter_LO.docx

results/pictures/mixing_model_biplot_extras/*

code/May/*
code/test/*

CONTRIBUTING.md
analysis_driver.bash
Makefile