.Rproj.user
.Rhistory
.RData
.Rprofile
.Rapp.history

.DS_Store

data/*/*
!data/process/*
!README.md

*.qsub*
mothur*logfile
*temp*
*.docx
*.tiff

submission/*
exploratory/*


results/old_versions/*
results/pictures/*

code/May/*
code/test/*

CONTRIBUTING.md
analysis_driver.bash
Makefile

