.Rproj.user
.Rhistory
.RData
.Rprofile
.Rapp.history

.DS_Store

data/*/*
!data/process/*
!README.md

*.qsub*
mothur*logfile
*temp*
*.docx

submission/*
exploratory/*

results/pictures/mixing_model_biplot_extras/*

code/May/*
code/test/*

CONTRIBUTING.md
analysis_driver.bash
Makefile

